
<!DOCTYPE html>
<html lang="en">
  <head>

    <title>FRYapp - User Profile</title>
  </head>
<body>
  <%- include('partials/_header') %>
<main>

  <header>
    <h1>Welcome back <%= user.email %>! </h1>
    <h2>Games Dashboard</h2>
  </header>
  <main>
    <table class="message-inbox">
      <thead>
        <tr>
          <th scope="col">View Post</th>
          <th scope="col">Delete Post</th>
          <th scope="col">Mark Post as Sold</th>
        </tr>
      </thead>
      <tbody>
        <% for (let game of userGames) { %>
          <td><a href='/games/<%= game.id %>'>
            <img src= <%= game.photo %> style=width:300px;height:300px>
          </td></a>
          </a></td>
          <td>
            <form method="POST" action="/users/<%= game.id%>/delete">
                <button type="submit" class="btn btn-outline-danger">Delete</button>
            </form>
        </td>
        <td>
            <form method="POST" action="/users/<%= game.id%>">
              <button type="submit" class="btn btn-outline-info">Mark As SOLD!</button>
            </a>
            </form>
        <%}%>
      </tbody>
    </table>
  </main>
</body>
</html>

</main>
