<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Buy this game</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <!-- bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <!-- script for favorite icon -->
  <script src="https://kit.fontawesome.com/45dd319295.js" crossorigin="anonymous"></script>
</head>
<body>
  <%- include('partials/_header') %>

  <img width="300" src=<%= game.photo %> >
  <table>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Price</th>
    </tr>
    <tr>
      <td><%= game.title %></td>
      <td><%= game.description %></td>
      <td>$<%= game.cost/100 %></td>
      <td>
        <form method="POST" action="/favorites">
        <input type="hidden" name="gameID" value="<%= game.id %>">

        <button type="submit" id="submit-favorite"><i class="fa fa-heart"></i></button>

        </form>
      </td>
    </tr>
  </table>

  <form method="POST" action="/favorites">

  </form>


  <form method="POST">
    <textarea placeholder="Write your message here"></textarea>
    <button type="submit" class="btn btn-light">Send message</button>
  </form>

</body>
</html>


<!--  needs a text input that has a button that sends a message to the owner of the game id
needs a button that can favorite an item using the techique that dom showed us this is supposed to also
let the server know that this button is being ppushed on the game_show page

 -->
