<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <%- include('partials/_header') %>
    <h1>Pick the category or check our latest games!</h1>
    <form action="/games/platform" method="POST">
      <label form="platform-filter">Select a Game Category:</label>
      <select id="platform-filter" name="category">
        <option value="" disabled selected>Select platform</option>
        <option value="Nintendo Switch">Nintendo Switch</option>
        <option value="Nintendo 3DS">Nintendo 3DS</option>
        <option value="Xbox one">XBOX one</option>
        <option value="PC">PC</option>
        <option value="Sony PS4">Sony PS4</option>
        <option value="Retro">Retro</option>
      </select>
      <button type="submit" class="btn btn-light" id="category_filter">Filter by platform</button>
  </form>
    <form action="/games/filter" method="POST">
      <label form="filter-form">Filter by price</label>
      <select id="filter-form" name="filter">
        <option value="" disabled selected>Select filter</option>
        <option value="ascending">Low to High</option>
        <option value="descending">High to Low</option>
      </select>
      <button type="submit" class="btn btn-light" id="price_filter">Filter by price</button>
    </form>
  <table>
    <tr>
      <% for (let game of games) { %>
      <th>Cover Art</th>
      <th>Title</th>
      <th>Platform</th>
      <th>Description</th>
      <th>Price</th>
    </tr>
    <tr>
      <td><img src=<%= game.photo %> style=width:300px;height:300px></td>
      <td><%= game.title %></td>
      <td><%= game.category %></td>
      <td><%= game.description %></td>
      <td><%= game.cost %></td>
    </tr>
    <% } %>
  </table>
</body>
</html>


<!-- load ten most recent post
create dropdown with categories
add a favorite button to all posts 
implement all functions-->
