<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/styles/filters.css" type="text/css" />
    <link rel="stylesheet" href="/styles/game_cards.css" type="text/css" />

    <title>Home Page</title>
  </head>

  <body>
    <%- include('partials/_header') %>
    <h1>Pick the category or check our latest games!</h1>
    <div id="filters">
      <div>
        <form id="filter-platform" action="/games/platform" method="POST">
          <label form="platform-filter">Select a Game Category: </label>
          <select id="platform-filter" name="category">
            <option value="" disabled selected>Select platform</option>
            <option value="Nintendo Switch">Nintendo Switch</option>
            <option value="Nintendo 3DS">Nintendo 3DS</option>
            <option value="Xbox one">XBOX one</option>
            <option value="PC">PC</option>
            <option value="Sony PS4">Sony PS4</option>
            <option value="Retro">Retro</option>
          </select>
          <button type="submit" class="btn btn-primary" id="category_filter">Filter by platform</button>
        </form>
      </div>

      <div id="filter-price">
        <form action="/games/filter" method="POST">
          <label form="filter-form">Filter by price</label>
          <select id="filter-form" name="filter">
            <option value="" disabled selected>Select filter</option>
            <option value="ascending">Low to High</option>
            <option value="descending">High to Low</option>
          </select>
          <button type="submit" class="btn btn-primary" id="price_filter">Filter by price</button>
        </form>
    </div>
    </div>
      <% for (let game of games) { %>
    <div class="game-cards">
      <div class="photo-container">
        <a href="http://localhost:8080/games/<%= game.id %>"><img src=<%= game.photo %> style=width:300px;height:300px></a>
      </div>
      <header id="header">
        <div class="game-title">
          <p><%= game.title %></p>
        </div>
        <div class="game-category">
          <p>Category: <%= game.category %></p>
        </div>
        <div class="game-cost">
          <p>$<%= game.cost/100 %></p>
        </div>

      <div class="game-description">
        <p><%= game.description %></p>
      </div>

      </header>

    </div>
    <% } %>
</body>
</html>

<!-- Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

