<!DOCTYPE html>
<html lang="en">
<head>

  <title>FRYapp - User Inbox</title>

</head>
  <body>
    <%- include('partials/_header') %>

    <main>
      <table class="message-inbox">
</head>
  <body>
    <%- include('partials/_header') %>

    <main>
      <table class="message-inbox" style="margin: 15%;">
        <thead>
          <tr>
            <th scope="col">Game</th>
            <th scope="col">Message Title</th>
            <th scope="col">Sent On</th>
          </tr>
        </thead>
        <tbody>
          <% for (let msg of messages) { %>
            <td><a href='/messages/<%= msg.game_id%>'>
              <%= msg.game_title %>
            </a></td>
            <td><%= msg.title %></td>
            <td><%= msg.created_at%></td>
          <%}%>
        </tbody>
      </table>
    </main>
  </body>
</html>

