<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/styles/message_inbox.css" type="text/css" />
  <title>FRYapp - User Inbox</title>

</head>
  <body>
    <%- include('partials/_header') %>

    <!-- <main>
      <table class="message-inbox">
</head> -->
  <!-- <body> -->
    <%- include('partials/_header') %>

    <main id="main">
      <div>

          <div class="heading">
            <h1>See your messages here:</h1>
            <!-- <p>Message Title</p>
            <p>Sent On</p> -->
          </div>

        <div class="items">
          <% for (let msg of messages) { %>
            <p class="messages">Messages about posting: <a href='/messages/<%= msg.game_id%>'>
              <%= msg.game_title %>
            </a></p>
            <!-- <p><%= msg.title %></p>
            <p><%= msg.created_at%></p> -->
          <%}%>
        </div>
      </div>
    </main>
  </body>
</html>

